body {
  display: flex;
}

.box1 {
  display: none;
  background-color: #ff0000;
  height: 200px;
  width: 200px;
}

.box2 {
  display: none;
  background-color: aqua;
  width: 300px;
  height: 400px;
}

.box3 {
  display: none;
  background-color: blueviolet;
  width: 200px;
  height: 300px;
}
